#####################
# HEAVY / NON-RELATED
#####################
.venv
.DS_Store
outputs/
__pycache__/
.pytest_cache/

#####################
# SECRET
#####################
env

#####################
# AI
#####################
.serena
.claude
CLAUDE.md
ML_MODEL_DISCUSSION.md